/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #ffffff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero section styles */
  #hero {
    background-image: url('hospital-image.jpg');
    background-size: cover;
    background-position: center;
    color: blueviolet;
    text-align: center;
    padding: 100px 0;
  }
  
  #hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Services section styles */
  #services {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .service {
    margin-bottom: 20px;
  }
  
  .service h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* About section styles */
  #about {
    padding: 50px 0;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  